<?xml version="1.0" ?>
<suite name="Kallisto Test" verbose="2">
  <listeners>
    <listener class-name="mockit.integration.testng.Initializer" />
  </listeners>

  <test name="Configuration DSL Tests">
    <classes>
      <class name="yeene.kallisto.systembuilder.SystemBuilderTest" />
    </classes>
  </test>

  <test name="Kallisto-Tests">
    <classes>
      <class name="yeene.kallisto.math.MathUtils" />
      <class name="yeene.kallisto.math.VectorTest" />
      <class name="yeene.kallisto.SatteliteBodiesStateChangeCollectorTest" />
      <class name="yeene.kallisto.SimulatedSystemTest" />
      <class name="yeene.kallisto.math.MatrixTest" />
      <class name="yeene.kallisto.SimulatedSystemRetainsRotationalImpulseTest" />
    </classes>
  </test>
</suite>
