<?xml version="1.0" ?>
<suite name="Kallisto Test" verbose="2">
  <listeners>
    <listener class-name="mockit.integration.testng.Initializer" />
  </listeners>

  <test name="Output Modules Drivers">
    <classes>
      <class name="yeene.kallisto.gui.driver.GraphicsFactoryTest" />
      <class name="yeene.kallisto.gui.driver.AbstractSystemRendererTest" />
      <class name="yeene.kallisto.gui.view.method.LinearCameraTest" />
    </classes>
  </test>

  <test name="Common Application Tests and Simulation behaviour">
    <classes>
      <class name="yeene.kallisto.gui.KallistoGUITest" />
      <class name="yeene.kallisto.gui.simulation.SystemThreadTest" />
      <class name="yeene.kallisto.gui.simulation.ThreadPoolTest" />
    </classes>
  </test>

  <test name="OpenGL-Interface">
    <classes>
      <class name="yeene.kallisto.gui.driver.opengl.OpenGLGraphicsTest"/>
    </classes>
  </test>

  <test name="Configuration Tests">
    <classes>
      <class name="yeene.kallisto.gui.ConfigurationTest" />
    </classes>
  </test>

</suite>
